body
{
  background-color: blue;
  background: url("../img/Fondo_Comida.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.fi-torso {
   font-size: 40px;
}
.Menu_Izquierda
{
  list-style:none;
  text-align: center;
}
